/* Styles for the input field when it's focused */
.input-class:focus {
  outline: none; /* Remove the default outline */
  box-shadow: 0 0 0 3px #12c2e9; /* Add a blue box shadow */
}

/* Styles for the input field */
.input-class {
  box-shadow: 0 0 0 2px #12c2e9;
}

/* Styles for the table wrapper */
.tableWrapper {
  position: relative;
  padding: 2px;
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  border-radius: 10px; /* Round the corners */
  overflow: hidden; /* Hide any overflowing content */
}

/* Styles for the table */
.table {
  background: white; /* Set the background color to white */
  border-radius: 8px; /* Round the corners */
}

/* Styles for the button */
.button {
  padding: 10px 20px;
  font-size: 24px;
  color: red;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer; /* Change the cursor to a pointer */
  transition: background-color 0.3s ease; /* Add a transition effect to the background color */
}

/* Styles for the button when it's hovered over */
.button:hover {
  background-color: pink;
}

/* Styles for the button when it's active (being clicked) */
.button:active {
  background-color: #003d80;
}
